.App {
  font-family: sans-serif;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 14px;
}

h2,
h1,
h3 {
  font-family: "Times New Roman", Times, serif;
  color: darkred;
}
th {
  color: rgb(133, 108, 47);
}

.paragraph {
  border-style: solid;
  border-color: rgb(133, 108, 47);
  width: auto;
  border-radius: 15px;
  padding: 5px;
}

#molloylogo {
  max-width: 7%;
  margin-left: 50%;
  margin-right: 50%;
}

#mulogo {
  max-width: 25%;
}

@media screen( min-device-width:480px) {
  .paragraph {
    margin-right: 250px;
    padding-left: 80px;
  }
}
#csc {
  border-style: solid;
  border-color: darkgrey;
  border-radius: 15px;
  width: 400px;
  background-image: url(images/computerimage.jpg);
  background-size: 75px;
  background-repeat: no-repeat;
  background-position-x: 300px;
  background-position-y: -2px;
}
#math {
  border-style: solid;
  border-color: darkgrey;
  border-radius: 15px;
  width: 400px;
  background-image: url(images/math.jpg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position-x: 320px;
}

#math a:visited {
  color: maroon;
}

#csc a:visited {
  color: blueviolet;
}
a:link {
  color: blue;
}

#math a:hover {
  color: pink;
}

#csc a:hover {
  color: lightblue;
}

a:hover {
  color: darkgoldenrod;
}
