.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  color: rgb(102, 74, 3);
  text-align: center;
}
.courses {
  font-family: Arial, Helvetica, sans-serif;
}
h2,
h3 {
  color: maroon;
}
h1 {
  color: maroon;
  font-size: 300%;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.menu {
  text-align: left;
}
.main {
  text-align: center;
}
.courses {
  display: table;
  list-style: none;
}
.summary {
  border-color: maroon;
  border: solid;
  border-radius: 10px;
  padding: 60px;
}

nav.menu {
  border: solid;
  width: 200px;
  margin-left: 20px;
  margin-right: auto;
  padding: 0, 10, 10, 10;
}
.menu {
  list-style: none;
}
a:visited {
  color: green;
}

a:hover {
  color: maroon;
  background-color: yellow;
  border-color: rgb(102, 74, 3);
  border: thin solid;
}
.courses:hover {
  font-weight: bold;
}
#hours:hover {
  color: maroon;
  font-size: 1.25em;
  font-weight: bold;
}
@media screen and (min-width: 1150px) {
  .courses {
    padding-top: 20px;
    margin-left: 300px;
    border: solid;
    border-radius: 0px;
  }
  .summary {
    margin-left: 250px;
    margin-right: 250px;
  }
}

@media screen and (min-width: 1500px) {
  .summary {
    background-image: url("images/lion.png");
    background-repeat: no-repeat;
    padding-left: 300px;
  }
  .courses {
    margin-left: 700px;
  }
}
